.header{
    background-color: #04192e;
    display: block;
    padding: 3%;
    color: white;
    font-size: 26px;
}

p{
    text-align: center;
}

li:hover{
    background-color:#04192e;
    color: white;
}